#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.list-item{
  background-color: rgb(185, 95, 238);
  border-radius: 20px;
  padding:1rem;
  width: 100%;
  margin: 10px 0
}

input{
  padding: 10px 5px;
}